{% extends 'base.html' %}

{% block content %}

<div class="row">
    <form action="{% url 'add' %}" method="POST" role="form" class="row">
        {% csrf_token %}
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">add</i>
            {{ form.text }}
        </div>
        <div class="input-field col s12 m1">
            <button type="submit" id="add-btn" class="btn green darken-4">ADD</button><br>
        </div>
    </form>
    <div class="row">
        <ul class="collection">
            {% for item in todo_items %}
                {% if item.completed %}
                <li class="collection-item grey-text row">
                    <div class="col s11">
                        {{item}}
                    </div>
                    <div class="col s1">
                        <a href="{% url 'delete' item.id %}">
                            <i class="material-icons prefix red-text">delete</i>
                        </a> 
                    </div>
                </li>
                {% else %}
                <li class="collection-item row">
                    <div class="col s11">
                        <a href="{% url 'completed' item.id %}">{{item}}</a>
                    </div>
                    <div class="col s1">
                        <a href="{% url 'delete' item.id %}">
                            <i class="material-icons prefix red-text">delete</i>
                        </a> 
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <a href="{% url 'deletecompleted' %}"><button class="btn orange darken-3">Delete Completed</button></a>
        <a href="{% url 'deleteall' %}" ><button class="btn red darken-4">Delete All</button></a>
    </div>
</div>
{% endblock %}